body{
    background-image: url(../img/mainBACKGROUND.jpg);
    background-color: goldenrod;
    color:white;
    background-size: contain;
    background-repeat: no-repeat;
    width: 6000px;
    height: 3376px;
}

#summaryComp{
    border-top:4px solid white;
    margin-top: 25px;
    margin-bottom: 15px;
}
#suma {
    border-top: 4px solid white;
    margin-top: 20px;
    margin-bottom: 10px;
}
table#summaryComp {
     width:20%;
    height: auto;
}
table#summaryComp,
table#summaryComp td
{
    border: 2px solid white;
}
table#summaryComp {
    color: aqua;
    size: 10px;
}
#summaryComp img {
    width: 150px;
    height: auto;
}
#sumAll {
    position: absolute;
    right: 20%;
    top: 100px;
}

