body{
    background-image: url(../img/mainBackgrounD.jpg);
    color:white;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Playfair Display', serif;
}

#summaryComp{
    border-top:4px solid white;
    margin-top: 25px;
    margin-bottom: 5px;
}
#suma {
    border-top: 4px solid white;
    margin-top: 20px;
    margin-bottom: 10px;
}
table#summaryComp {
     width:50%;
    height: auto;
}
table#summaryComp,
table#summaryComp td
{
    border: 2px solid white;
    border-collapse: collapse;
}
table#summaryComp {
    color: aqua;
    size: 10px;
}
#summaryComp img {
    width: 100px;
    height: auto;
}
#sumAll {
    position: absolute;
    right: 20%;
    top: 100px;
    background-color: aqua;
    color: black;
    width: 8%;
    height: 3%;
}
table#summaryComp td{
    text-align: center;
}
table#summaryComp td:nth-child(1){
    width: 13%;
}
table#summaryComp td:nth-child(2){
    width: 60%;
}
table#summaryComp td:nth-child(3){
    width: 20%;
}



